<form class="form-container" #billOverviewForm = "ngForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <label for="bill-category">Bill Category:</label>
      <select id="bill-category" name="bill-category" [(ngModel)]="billCategory">
        <option value="ALL">ALL</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
    <div class="form-field">
      <label for="bill-date-from">Bill Date From:</label>
      <input type="date" id="bill-date-from" name="dateFrom" [(ngModel)]="dateFrom">
    </div>
    <div class="form-field">
      <label for="bill-date-to">Bill Date To:</label>
      <input type="date" id="bill-date-to" name="dateTo" [(ngModel)]="dateTo">
    </div>
    <div class="form-field">
      <label for="bill-status">Bill Status:</label>
      <select id="bill-status" name="bill-status" [(ngModel)]="billStatus">
        <option value="UPCOMING">UPCOMING</option>
        <option value="PENDING">PENDING</option>
        <option value="PAID">PAID</option>
      </select>
    </div>
    <div style="text-align: center;">
        <button type="submit">Submit</button>
    </div>
</form>
<div class="table">
  <div class="table-row header">
    <div class="table-cell">Category</div>
    <div class="table-cell">Count</div>
    <div class="table-cell"></div>
  </div>
  <div class="table-row" *ngFor="let entry of billOverviewMap | keyvalue">
    <div class="table-cell">{{ entry.key }}</div>
    <div class="table-cell">{{ entry.value }}</div>
    <div class="table-cell centered">
      <div class="centered-horizontal">
        <div *ngIf="entry.value > 0" [routerLink]="generateRouterLink(entry.key)">Overview</div>
      </div>
    </div>
  </div>
</div>