.payment-scheduler {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.payment-scheduler h1 {
  color: #333;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  color: #666;
}

.form-group input,
.form-group select {
  width: 20%;
  padding: 0.5rem;
  margin-top: 0.25rem;
}

button {
  background-color: #0062cc;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem auto;
  font-size: 20px;
  align-items: center;
}

button:hover {
  background-color: #004085;
}

.square-container {
  border: 2px solid #7a5252; 
  padding: 20px;
  width: 150px; 
  height: 50px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;
}

.bills-container table {
width: 100%; /* Adjust table width as necessary */
border-collapse: collapse; /* Ensures that table borders are collapsed into a single border */
text-align: center; /* Center-aligns text in the cells */
}

.bills-container th, .bills-container td {
border: 1px solid black; /* Adds black borders to table cells */
padding: 10px; /* Adds some padding for text inside cells */
font-size: 18px; /* Increases the font size */
}

.bills-container th {
background-color: darkpurple; /* Sets the background color of the header to dark purple */
color: rgb(87, 12, 62); /* Sets the text color of the header to white */
}  

.large-text {
font-size: 24px; /* Change this value as needed */
}