<div style="text-align: center;">
    <h1>Manage Bills</h1>
</div>
<div class="row">
    <button class="button big-button" routerLink='/add-bill'>Add New Bill</button>
    <button class="button big-button" routerLink='/bill-overview'>Bills Overview</button>
  </div>
  <div style="text-align: center;">
    <button class="button big-button" routerLink='/reminder-settings'>Reminder Settings</button>
  </div>
  <div class="row">
    <button class="button big-button" routerLink='/bill-overdue-upcoming'>Upcoming/Overdue Bills</button>
    <button class="button big-button">Snooze or mark paid bills</button>
  </div>
  <div *ngIf="!successMessage" class="success-message">
    {{ successMessage }}
  </div>
  <router-outlet></router-outlet>
