<p>manage-bill works!</p>

<button class="secondary-button" (click)="goToMHome()">Add new Bill</button>
<button class="secondary-button" (click)="goToMHome()">Bills Overview</button>
<button class="secondary-button" (click)="goToMHome()">Reminder Settings</button>
<button class="secondary-button" (click)="goToMHome()">Upcoming/Overdue Bills</button>
<button class="secondary-button" (click)="goToMHome()">Snooze or mark paid bills</button>

<button class="secondary-button" (click)="goToMHome()">Go to home</button>