<div style="text-align: center;">
    <h1>Manage Bills</h1>
</div>
<div class="row">
    <button class="button big-button" >Add New Bill</button>
    <button class="button big-button" (click)="toOverview()">Bills Overview</button>
  </div>
  <div style="text-align: center;">
    <button class="button big-button">Reminder Settings</button>
  </div>
  <div class="row">
    <button class="button big-button">Upcoming/Overdue Bills</button>
    <button class="button big-button">Snooze or mark paid bills</button>
  </div>
  <router-outlet></router-outlet>
