<h1>{{"Pay Pilot"}}</h1>

<nav class="d-flex navbar navbar-dark">
  <a routerLink ="login" routerLinkActive = "active">Login</a>
  <a routerLink ="notification" routerLinkActive = "active">Notifications</a>
</nav>
<!-- <a routerLink ="manage-bills" routerLinkActive = "active">Manage Bills</a>
<a routerLink ="schedule-payments" routerLinkActive = "active">Schedule Payments</a>
<a routerLink ="track-payments" routerLinkActive = "active">Track Payments</a> -->


<div class="main-div">
  <router-outlet></router-outlet>
</div>

