h1 {
    text-align: center;
    color: #2C3E50;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px #fff;
  }
 
 
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: rgb(171, 202, 212);
    font-family: 'Arial', sans-serif;
  }
 
 
  .navbar a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
 
 
  .navbar a.active, .navbar a:hover {
    background-color: rgb(171, 202, 212);
    color: #2C3E50;
    transform: scale(1.05);
  }