<div class="body-all">
    <div class="form-container">
        <h2 style="text-align: center;">Reminder Settings</h2>
        <form>
            <div class="form-field">
                <label for="bill-category">Bill Category</label>
                <select id="bill-category" name="bill-category" [(ngModel)]="billCategory" (change)="loadBills()" required>
                    <option value="HOUSE_RENT">HOUSE_RENT</option>
                    <option value="GROCERIES">GROCERIES</option>
                    <option value="DEBT_PAYMENTS">DEBT_PAYMENTS</option>
                    <option value="INTERNET_CHARGES">INTERNET_CHARGES</option>
                    <option value="RETIREMENT_CHARGES">RETIREMENT_CHARGES</option>
                    <option value="CELL_PHONE_CHARGES">CELL_PHONE_CHARGES</option>
                </select>
            </div>
            <div class="form-field">
                <label for="bill-category">Bill Name:</label>
                <select id="bill-select" name="bill-select" [(ngModel)]="bill">
                  <option >Select</option>
                  <option *ngFor="let bill of bills" [value]="bill">{{ bill.billName }}</option>
                </select>
              </div>
            <hr>
            <div class="form-field">
                <label for="reminder-frequency">Reminder Frequency</label>
                <select id="reminder-frequency" name="reminder-frequency" required [(ngModel)]="reminderSettings.reminderFrequency">
                    <option value="DAILY">DAILY</option>
                    <option value="WEEKLY">WEEKLY</option>
                    <option value="BIMONTHLY">BIMONTHLY</option>
                    <option value="MONTHLY">MONTHLY</option>
                </select>
            </div>
            <div class="form-field">
                <label for="reminder-date">Reminder Starting Date</label>
                <input type="date" id="reminder-date" name="reminder-date" required [(ngModel)]="reminderSettings.reminderStartDate">
            </div>
            <div class="form-field">
                <label for="message">Message Customization</label>
                <input type="text" id="message" name="message" placeholder="Bill payment due" required [(ngModel)]="reminderSettings.message">
            </div>
            <div class="form-field">
                <label for="notifications-preferences">Notification Preeferences</label>
                <select id="notifications-preferences" name="notifications-preferences" required>
                    <option value="EMAIL">In App</option>
                </select>
            </div>
            <div class="form-actions">
                <button type="submit" class="save" (click)="saveSettings()">Save</button>
                <button type="button" class="cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>
