body, html {
    display: flex;
    justify-content: center; /* Center the button horizontally */
    align-items: center; /* Center the button vertically */
    height: 100%; /* Full height of the viewport */
    margin: 0; /* Remove default margin */
    text-align: center;
}
.main-button {
    background-color: red; /* Red background */
    color: white; /* White text */
    padding: 40px 60px; /* Size of the button */
    border-radius: 20px; /* Rounded edges */
    border: none; /* Remove default border */
    cursor: pointer; /* Change mouse cursor on hover */
    font-size: 24px; /* Size of the text */
    text-align: center; /* Center the text */
    margin: 30px;
}
.main-div{
    text-align: center;
}